{% extends 'adminbase.html'%}
{% load static %}
{% block contents %}

<section class="banner_part">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="banner_text text-center">
                        <div class="banner_text_iner">
                            <h2 style="color:white">ADMIN LOGIN


                            </h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

